ACCOUNT=329035
SUBSCRIPTION=329035-0001
CLIENT_ID=yourkey
CLIENT_SECRET=yoursecret

CLIENT_ID_RPA=8DEv1AMNXczW3y4U15LL3jYf62jK93n5
REFRESH_TOKEN=AmSq_nO-HH2HaSz6pZXCjv8wggwhaZfctCRygElhzn7yZ
TENANT_NAME=DefaultTenant
UIPATH_URL=https://account.uipath.com/oauth/token

UIPATH_ORCHESTRATOR_URL=https://cloud.uipath.com/ieopdmqmvsp/DefaultTenant/odata/Jobs/UiPath.Server.Configuration.OData.StartJobs
UIPATH_RELEASE_KEY=260723cb-eeb3-407f-aad3-539719e2fa64
UIPATH_ORG_UNIT_ID=6250018